<ion-header>

  <ion-navbar>
    <ion-title>Calendar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngFor="let day of days">
    <ion-card color="{{day.color}}" (click)="toggle(day)">
      <ion-card-content>
        <div>
          <ion-row>
            <ion-col col-2>
              <span style="text-align: center;">{{day.abbr}}</span>
              <br>
              <span style="text-align: center;">{{day.date}}</span>
            </ion-col>
            <ion-col col-9 align-self-center>
              <p float-center class="text">{{day.name}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="day.show_tasks">
      <ion-card>
        <ion-card-header>
          <button ion-button icon-right color="secondary" (click)="openNewTask(day)">
            Tasks
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-list *ngIf="day.tasks">
              <ion-item-sliding *ngFor="let task of day.tasks">
                <ion-item>
                  <ion-row>
                    <ion-col col-4>
                      <ion-icon name="time"></ion-icon>
                      {{ task.time }}
                    </ion-col>
                    <ion-col col-8 text-wrap>
                      <ion-icon name="briefcase"></ion-icon>
                      {{ task.name }}
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button icon-button color="danger" (click)="deleteTask(day, task)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-grid>
          <ion-item [hidden]="day.tasks">
            No tasks for {{day.name | lowercase}}!
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [hidden]="days || errMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</ion-content>
