<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="newTask" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" formControlName="time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" value="" formControlName="name"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block type="submit" [disabled]="!newTask.valid">
        Create
      </button>
    </div>
  </form>
</ion-content>
